# uv pip install google-auth google-auth-oauthlib google-api-python-client google-adk google-generativeai litellm

# uv pip install twilio

# uv pip install beanie

#  uv pip install fastapi[all]

# uv pip install pydantic-ai

# uv pip install asyncpg
